@import './mixins/mixins';
i:hover{color: #a29e9e;}
a{
    color: white;
    text-decoration: none;
}
body{
    #searchBar{
        width: 350px;
        #searchBarText[placeholder]
             {
                color: darkgray;
              }
        }
    
    nav{
        height: 781px;
        #searchForJs{cursor:pointer;}
    }
    aside{
        height: 781px;
    }
    footer{
        height: 160px;
        
    }

    main>div.container-fluid.overflow-y-scroll{


        height: 800px;

        @include main-content-page-1;
        div.row{
                .my-card{
                    @include my-card;
                    img{
                        height: 90%;
                    }
                    h1{
                        font-size: 3.5rem;
                    }
                    .light-grey{
                        background-color: #2d2d2d;
                        font-size: 1rem;
                    }
                }
            }

        .myPlaylist{
            background-color: #2d2d2d;
            border-radius: 5px;
            box-shadow: 0px 0px 9px -2px #000000;
        }
        .card{
            background-color: #2d2d2d;
            h6{
                color: white;
            }
            p{
                color: #858585;
            }
        }
    }
}


.destruction{
    display: none;
}
.bg-custom-artist{
    background: linear-gradient(0deg, rgba(18,18,18,1) 35%, rgba(32,32,32,1) 67%);
}
.bg-img-artist{
    background-position: center center;
    background-size: cover;
}
.songYouLikeImg{
    width: 100px;
}